* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: Helvetica;
  -webkit-font-smoothing: antialiased;
  background: rgba(71, 147, 227, 1);
}

h2 {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  padding: 30px 0;
}


.table-wrapper {
  margin: 10px 70px 70px;
  box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}

.fl-table {
  border-radius: 25px;
  font-size: 12px;
  font-weight: normal;
  /* border: none;
    border-collapse: collapse; */
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.fl-table td,
.fl-table th {
  text-align: center;
  padding: 8px;
}

.fl-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 12px;
}

.fl-table thead th {
  color: #ffffff;
  background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}

.fl-table tr:nth-child(even) {
  background: #F8F8F8;
}


.btn1 {
  /* background: #78c7fb; */
  color: rgb(154, 226, 249);
  cursor: pointer;
  height: 30px;
}

/* .btn1:hover{
  background: #6fe176;
} */

.btn2 {
  /* background: #fc2605; */
  color: red;
  cursor: pointer;
  height: 30px;
}

/* .btn2:hover{
  background: #fc2605;
} */

.btn3 {
  /* background: #6fe176; */
  color: rgb(172, 243, 118);
  cursor: pointer;
  height: 30px;
}

/* .btn3:hover{
  background: #78c7fb;
} */