<button mat-icon-button class="btn3" style="margin-left:10px"><a class="btn-link" [routerLink]="['/admin']">
        <mat-icon class="icon">keyboard_backspace</mat-icon>Back
    </a></button>

<button mat-icon-button class="btn3" style="margin-left:1300px"><a class="btn-link" (click)="downloadFiles()">
        <mat-icon class="icon">download</mat-icon>Downloadfiles
    </a></button>

<br><br><br>
<table class="fl-table">
    <thead>
        <tr>
            <th>ActivityName</th>
            <th>details</th>
            <th>Notice</th>
            <th>date</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let activity of activity">
            <td>{{activity.name}}</td>
            <td>{{activity.examdetails}}</td>
            <td>{{activity.notice}}</td>
            <td>{{activity.date}}</td>
            <td>
                <button mat-icon-button (click)="updateActivity(activity.id)" class="btn1">
                    <mat-icon class="icon">create</mat-icon>
                </button>
                <button mat-icon-button (click)="deleteActivity(activity.id)" class="btn2" style="margin-left:10px">
                    <mat-icon class="icon">delete</mat-icon>
                </button>
                <button mat-icon-button (click)="UploadFiles()" class="btn3" style="margin-left:10px">
                    <mat-icon class="icon">upload</mat-icon>
                </button>
            </td>
        </tr>
        <!-- <tr *ngFor="let attachment of attachment">
                <td>{{attachment.id}}</td>
                <td><button mat-icon-button (click)="downloadFile(attachment.name,attachment.type)" class="btn3">{{attachment.name}}</button></td>
                <td><button mat-icon-button (click)="deleteFile(attachment.id)" class="btn3"><mat-icon class="icon">delete</mat-icon></button></td>
            </tr> -->
    </tbody>
</table>