<!-- <h1 style="margin-left: 650px;">Activity list</h1> -->
<nav>
    <ul class="nav">
    <li class="item" style="margin-left: 1300px;"><a class="nav-link" [routerLink]="['/home']">Back</a></li>
    </ul>
    <!-- <button  class="att"  style="margin-bottom: 30px;" (click)="AddAttachment()">Attachment</button> -->
<!--   
            <input type="file" (change)="selectFile($event)" />
        
          <button  style="margin: 10px;" [disabled]="!selectedFiles" (click)="upload()">
            Upload
          </button> -->
       
</nav>


    <table class="fl-table">
        <thead>
            <tr>
            <!-- <th>id</th> -->
            <th>ActivityName</th>
            <th>details</th>
            <th>Notice</th>
            <th>date</th>
            <th>Attachment</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let activity of activity">
                <!-- <td>{{activity.id}} </td>     -->
                <td>{{activity.notice}}</td>
                <td>{{activity.examdetails}}</td>
                <td>{{activity.name}}</td>
                <td>{{activity.date}}</td>
                <td><input type="file" (change)="selectFile($event)" />
                  <button  style="margin: 10px;" [disabled]="!selectedFiles" (click)="upload()">
                    Upload
                  </button>
                </td>
            </tr>
        </tbody>
    </table>


