<!-- <h1 style="margin-left: 650px;">Activity list</h1> -->
<nav>
    <ul class="nav">
    <li class="item" style="margin-left: 1300px;"><a class="nav-link" [routerLink]="['/home']">Back</a></li>
    </ul>
    <!-- <button  class="att"  style="margin-bottom: 30px;" (click)="AddAttachment()">Attachment</button> -->
    <div class="row">
        <div class="col-8">
          <label style="margin: 10px;">
            <input type="file" (change)="selectFile($event)" />
          </label>
        </div>
        <div class="col-4">
          <button  style="margin: 10px;" [disabled]="!selectedFiles" (click)="upload()">
            Upload
          </button>
        </div>
      </div>
</nav>


    <table class="fl-table">
        <thead>
            <tr>
            <!-- <th>id</th> -->
            <th>Notice</th>
            <th>Examdetails</th>
            <th>Name</th>
            <th>date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let activity of activity">
                <!-- <td>{{activity.id}} </td>     -->
                <td>{{activity.notice}}</td>
                <td>{{activity.examdetails}}</td>
                <td>{{activity.name}}</td>
                <td>{{activity.date}}</td>
            </tr>
        </tbody>
    </table>


