* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: Helvetica;
  -webkit-font-smoothing: antialiased;
  background: rgba(71, 147, 227, 1);
}

h2 {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  padding: 30px 0;
}

.table-wrapper {
  margin: 10px 70px 70px;
  box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}

.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  white-space: nowrap;
  background-color: white;
}

.mat-card {

  width: 80%;
  background-color: bisque;
  position: inherit;
}

.fl-table td,
.fl-table th {
  text-align: center;
  padding: 8px;
}

.fl-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 12px;
}

.fl-table thead th {
  color: #ffffff;
  background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}

.fl-table tr:nth-child(even) {
  background: #F8F8F8;
}


.btn1 {
  background: #78c7fb;
  color: #fff;
  cursor: pointer;
  height: 30px;
}

.btn1:hover {
  background: #6fe176;
}

.btn2 {
  background: #fc2605;
  color: #fff;
  cursor: pointer;
  height: 30px;
}

.btn2:hover {
  background: #fc2605;
}

.btn3 {
  background: #6fe176;
  color: #fff;
  cursor: pointer;
  height: 30px;
}

.btn3:hover {
  background: #78c7fb;
}

nav ul {
  display: flex;
  font-family: 'Baloon Bhai';
}

nav ul li {
  list-style: none;
  font-size: 1.3rem;
}


nav ul li a {
  padding: 6px 20px;
  border: 2px solid white;
  background-color: rgb(148, 211, 243);
  color: rgb(4, 11, 13);
  font-size: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}

nav ul li a:hover {
  color: rgb(249, 246, 246);
  background-color: rgb(14, 13, 13);
}

.att {
  border: 2px solid white;
  background-color: rgb(148, 211, 243);
  color: rgb(4, 11, 13);
  font-size: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  font-family: 'Baloon Bhai';
}

.att:hover {
  color: rgb(249, 246, 246);
  background-color: rgb(14, 13, 13);
}

.dialog {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-top: 40px;
}

#home::before {
  content: "";
  position: absolute;
  height: 722px;
  top: 0px;
  bottom: 10px;
  left: 0px;
  width: 100%;
  z-index: -1;
  opacity: 0.89;
}

body {
  font-family: "Open Sans", arial;
  background: rgb(62, 189, 162);
  background: #ee9ca7;
  background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);
  background: linear-gradient(to right, #ffdde1, #ee9ca7);
  color: #fff;
  font-weight: 300;
}

nav {
  background: #00bbbb;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 8%;
  left: 0;
  right: 0;
  width: 250px;
}

a {
  position: relative;
  text-decoration: none;
  color: white;
  font-size: 13px;
}


nav .nav-text {
  position: relative;
  top: 15px;

}

a {
  width: 100px;
}

nav {
  width: 1550px;
  overflow: hidden;
}

nav {
  -webkit-transition: width .2s linear;
  transition: width .2s linear;
}