<button mat-icon-button class="btn3" style="margin-left:10px"><a class="btn-link" [routerLink]="['/admin']">
        <mat-icon class="icon">keyboard_backspace</mat-icon>
    </a></button>

<table class="fl-table">
    <thead>
        <tr>
            <th>RollNo</th>
            <th> fname</th>
            <th> lname </th>
            <th> email </th>
            <th> username </th>
            <th> password </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let register of register">
            <td> {{register.rollNo }} </td>
            <td> {{ register.fname }} </td>
            <td> {{ register.lname }} </td>
            <td> {{ register.email }} </td>
            <td> {{ register.username }} </td>
            <td> {{ register.password }} </td>
            <td>
                <button mat-icon-button (click)="updateRegister(register.id)" class="btn1">
                    <mat-icon class="icon">create</mat-icon>
                </button>
                <button mat-icon-button (click)="deleteRegister(register.id)" class="btn2" style="margin-left:10px">
                    <mat-icon class="icon">delete</mat-icon>
                </button>
            </td>
        </tr>
    </tbody>
</table>