
<link rel="stylesheet" href="admin.component.css">
<section id="home">
  <section id="overlay">
<h1 class="h-primary"><b>Welcome To Student Portal</b></h1>
</section>
<section id="nav1">
      
      </section>
      <section id="nav">
          <button class="btn"><a class="btn-link" [routerLink]="['/addregistration']">RegisterStudent</a></button>
          <button class="btn"><a class="btn-link" [routerLink]="['/registerlist']">Action</a></button>
        </section>
        <section id="nav2">
            
            </section>
            <section id="nav">
          <button class="btn"><a class="btn-link" [routerLink]="['/addactivity']">AddActivity</a></button>
          <button class="btn"><a class="btn-link" [routerLink]="['/activitylist']">Action</a></button>
  </section>
  <section id="home">
      <button class="btn"><a class="btn-link" [routerLink]="['/']">Logout</a></button>
    </section>
  </section>
