@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 620px;
    width: 400px;
    margin-left: 600px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    /* background: none; */
}

.form {
    min-height: 400px;
    min-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.05);
    background: #fff;
}

#home::before {
    content: "";
    position: absolute;
    background: url("registration.jpg") no-repeat center center/cover;
    height: 722px;
    top: 0px;
    bottom: 10px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

.form h1 {
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    margin-bottom: 15px;
    text-shadow: 2px 1px rgba(0, 0, 0, 0.5);
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.wrapper input {
    width: 300px;
    margin: 5px 0px;
    padding: 20px 10px;
    border-radius: 8px;
    border: none;
    background: rgba(0, 0, 0, 0.05);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 16px;
}

.wrapper input::placeholder {
    color: #000;
}

.wrapper input:focus {
    outline: none;
    background: rgba(0, 0, 0, 0.12);
}

.wrapper .btnsubmit {
    background: #f2789f;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
}

.wrapper .btnsubmit:hover {
    background: #86e873;
}


#home1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: rgb(5, 16, 24);
    color: rgb(237, 245, 247);
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    color: black;
    background-color: white;
}


nav {
    display: flex;
    align-items: center;
    top: 0px;
}

nav::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}


nav ul {
    display: flex;
    font-family: 'Baloon Bhai';
}

nav ul li {
    list-style: none;
    font-size: 1.3rem;
}

nav ul li a {
    color: rgb(248, 242, 242);
    display: block;
    padding: 3px 22px;
    font-size: 1.5rem;
    border-radius: 20px;
    text-decoration: none;
}

nav::before {
    content: "";
    background-color: black;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

nav ul li a:hover {
    color: black;
    background-color: white;
}

head {
    color: white;
    margin-left: 600px;
}