<button mat-icon-button class="btn3" style="margin-left:10px"><a class="btn-link" [routerLink]="['/home']">
        <mat-icon class="icon">keyboard_backspace</mat-icon>Back
    </a></button>
<br><br><br>

<table class="fl-table">
    <thead>
        <tr>
            <th>solution/questions</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let post of post">
            <td>{{post.content}}</td>
            <td>
                <button mat-icon-button (click)="addAttachment()" class="btn1">
                    <mat-icon class="icon">upload</mat-icon>
                </button>
                <button mat-icon-button (click)="updatePost(post.id)" class="btn2" style="margin-left:10px">
                    <mat-icon class="icon">create</mat-icon>
                </button>
                <button mat-icon-button (click)="deletePost(post.id)" class="btn3" style="margin-left:10px">
                    <mat-icon class="icon">delete</mat-icon>
                </button>
            </td>
        </tr>
    </tbody>
</table>