* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


:root {
    --navbar-height: 59px;
}

#navbar {
    display: flex;
    align-items: center;
    top: 0px;
}

#navbar::before {
    content: "";
    background-color: black;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}


#navbar {
    display: none;
}

#navbar ul {
    display: flex;
    font-family: 'Baloon Bhai';
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: rgb(12, 12, 12);
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}

/* Home Section */
#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 400px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#home h1 {
    text-align: center;
    font-family: 'Bree Serif', serif;
    font-size: 4rem;
    color: black;
}


#home::before {
    content: "";
    position: absolute;
    background: url("homePage.jpg") no-repeat center center/cover;
    background-position: center;
    height: 750px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}


.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: rgb(5, 16, 24);
    color: rgb(237, 245, 247);
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    color: black;
    background-color: white;
    left: .1em;
}

.center {
    text-align: center;
}